@charset "utf-8";
/* CSS Document */
.grid-1,.grid-2,.grid-3,.grid-4,.grid-5,.grid-6,.grid-half,.grid-full {width: 96.969696969697%;margin: 0 1.315151515152%;float:left;}
.grid-half {width: 46.969696969697%;margin: 0 1.515151515152%;}
.grid-1 { width: 13.636363636364%;}
.grid-2{ width: 30.30303030303%;}
.grid-3,.grid-half{width: 46.969696969697%;}
.grid-4{ width: 60.636363636364%;}
.grid-5{ width: 80.30303030303%;}
.grid-6,.grid-full{width: 96.969696969697%;}
.ajax-nav{border-bottom:1px solid #ddd;}
.red, .cover-color, .share-button span a:hover, .black, .overlay{opacity:0.9;filter: alpha(opacity=90) ;}
.scale_small, .present-block, .inner a, .ajax-bg{opacity:0;filter: alpha(opacity=0);}
.suboverlay{opacity:0.3;filter: alpha(opacity=30);}
.map-decor{opacity:0.5;filter: alpha(opacity=50);}
.box  a h4, .box  a h6{color:#fff;}
.nobig{float:left;width:100%;}
.animbox{border:2px solid #fff;}
#contact_form input, #contact_form textarea,#contact_form textarea:focus, #contact_form input:focus {color:#000;}
.body-overlay{
	display:none !important}
/* =====
overlays global
--------------------*/

