#shortcodes{margin-top:40px; text-align:left}
#shortcodes h2{text-align:center;}
.shortcode{margin-top:90px;padding-bottom:15px;}
.shortcode .sc-title{padding-bottom:35px !important;text-align:center;}
.grid-shortcode{font-size:0.8em; text-align:center; color:#fff;background:#292929;padding-top:10px;padding-bottom:10px;margin-bottom:10px;}
.accordion-title{
	display:block;
	position:relative;
	background:#fff;
	border:1px solid #ccc;
	border-bottom:2px solid #ccc;
	margin-bottom:10px; 
	text-align:center;
}
.accordion-title h5{
	margin:0;
}
.accordion-title a{
	display:block;
	color:#a4a4a4!important;
	padding:15px 0px 15px 20px;
}
.accordion .accordion-title span{
	position:absolute;
	width:26px;
	height:26px;
	right:20px;
	top:10px; 
	color:#a4a4a4
}
.accordion .accordion-title span i {
	margin-top:8px; 
	font-size:16px;
}
.accordion .accordion-inner{
	display:none;
	padding:10px 0px 30px 40px;
	font-size:0.9em;
	line-height:1.7em;
	color:#a4a4a4;
}
.toggle .toggle-title{
	display:block;position:relative;
	background:#fff;
	border:1px solid #ccc;
	border-bottom:2px solid #ccc;
	margin-bottom:10px;
	padding:15px 0px 15px 20px;
}
.toggle .toggle-title h5{
	margin:0;
	cursor:pointer;
	color:#a4a4a4;
}
.toggle .toggle-inner{
	display:none;
	padding:10px 0px 30px 40px;
	font-size:0.9em;
	line-height:1.7em;
	color:#a4a4a4;
}
.tabs{
	margin:0 auto;
	max-width:800px;
}
.tabs li,.tabs p{
	float:left;
}

.tabs p{
	font-size:0.875em;
	padding:20px;
	background:#fff;
	border:1px solid #ccc;
	border-bottom:2px solid #ccc;
	width:100%;
	display:block;
}
.tabs ul li a{
	position:relative;
	top:1px;
	font-size:0.875em;
	color:#a4a4a4!important;
	display:block;
	padding:10px 25px;
	border-top:2px solid transparent;
}
.tabs ul li a:hover{
	background:#ddd; 
	color:#fff;
}
.tabs ul li.active a{
	background:transparent;
	background:#fff;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-bottom:1px solid #fff; 
	border-top:2px solid #ccc;
}

.blockquote p {
	margin: 0 !important;
	padding: 5px 0 5px 15px;
	border-left: 4px solid #a4a4a4;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: lighter;
	font-size: 16px;
	line-height: 1.2;
}
.pullquote {
	width: 260px;
	margin: 15px 0 !important;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: lighter;
	font-size: 18px;
	line-height: 1.2;
}
.pullquote.align-left {
	float: left;
	padding: 0px 15px;
	border-left: 4px solid #a4a4a4;
}
.pullquote.align-right {
	float: right;
	padding: 0px 15px;
	text-align: right;
	border-right: 4px solid #a4a4a4;
}
.border-header{
	margin-bottom: 20px;
	display: inline-block;
	padding: 6px 10px 3px;
	background: #F54F36;
	color: #FFF;
	border: 4px solid #fff;
	box-shadow: 0px 0px 0px 3px #F54F36;
}
.small-header{
	font-size: 2.2em;
	letter-spacing: 0.10em;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;		
}
.header-separator{
	margin:4px auto;
	width:120px;
	height:1px;
	background:#F54F36
}
.line-header {
	width: 100%;
	margin: 30px 0 20px;
	position: relative;
	clear: both;
	display: block;
	z-index: 1;
	text-align: center;
}
.line-header span {
	font-size: 18px;
	padding: 5px 10px;
	background: #FFF;
	border-radius: 2px;
	position: relative;
	display: inline-block;
	color: #666;
	border: 1px solid #ccc;
}
.line-header:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 0;
	border-bottom: 1px solid #ccc;
	left: 0;
	top: 50%;
	z-index: -1;
}
.popup a {
	display:block;
	margin:5px 0;
	text-align:center
}
.shortcode-link{
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 0.20em;
	font-weight: 200;
}
.typo{
	text-align:center;
}
#tooltip{
	font-size: 0.875em;
	text-align: center;
	text-shadow: 0 1px rgba( 0, 0, 0, .5 );
	line-height: 1.5;
	color: #fff;
	background: #333;
	background: -webkit-gradient( linear, left top, left bottom, from( rgba( 0, 0, 0, .6 ) ), to( rgba( 0, 0, 0, .8 ) ) );
	background: -webkit-linear-gradient( top, rgba( 0, 0, 0, .6 ), rgba( 0, 0, 0, .8 ) );
	background: -moz-linear-gradient( top, rgba( 0, 0, 0, .6 ), rgba( 0, 0, 0, .8 ) );
	background: -ms-radial-gradient( top, rgba( 0, 0, 0, .6 ), rgba( 0, 0, 0, .8 ) );
	background: -o-linear-gradient( top, rgba( 0, 0, 0, .6 ), rgba( 0, 0, 0, .8 ) );
	background: linear-gradient( top, rgba( 0, 0, 0, .6 ), rgba( 0, 0, 0, .8 ) );
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-top: 1px solid #fff;
	-webkit-box-shadow: 0 3px 5px rgba( 0, 0, 0, .3 );
	-moz-box-shadow: 0 3px 5px rgba( 0, 0, 0, .3 );
	box-shadow: 0 3px 5px rgba( 0, 0, 0, .3 );
	position: absolute;
	z-index: 100;
	padding: 15px;
}
#tooltip:after{
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #333;
	border-top-color: rgba( 0, 0, 0, .7 );
	content: '';
	position: absolute;
	left: 50%;
	bottom: -10px;
	margin-left: -10px;
}
#tooltip.top:after{
	border-top-color: transparent;
	border-bottom: 10px solid #333;
	border-bottom-color: rgba( 0, 0, 0, .6 );
	top: -20px;
	bottom: auto;
}
#tooltip.left:after{
	left: 10px;
	margin: 0;
}
#tooltip.right:after{
	right: 10px;
	left: auto;
	margin: 0;
}
.client-image{
	margin:10px auto;
	width:150px;
	height:150px;
	border-radius:100%;
	border:4px solid #fff;
	border-left:4px solid #F54F36;
}
.client-image img{
	border-radius:100%;
	float:left;
}
.share{
	padding:10px 0 30px;
}

.share-list{
	margin:20px auto;
}
.share-list li {
	display:inline-block;
	padding:10px 20px;
	margin:0 6px 10px 0;
	font-size:18px;
	color:#fff;
	border:1px solid #ccc;
	border-bottom:2px solid #ccc;
	border-radius:4px;
}
.share-list li a {
	display:block;
	color:#fff;
}
.share-list li:hover a{
	opacity:0.6;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
	margin-bottom:20px;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
