#slides {
  position: relative;
}
#slides .slides-container {
  display: none;
}
#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  height: 100%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 4;
  top: 100%;
  margin-top:-40px;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;
  color:#fff;
  opacity:0.8;
  padding:4px;
}
.slides-navigation a.prev {
  left: 30px;
}
.slides-navigation a.next {
  right: 30px;
}

.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 6px;
  text-align: center;
  width: 100%;
}
.slides-pagination a {
  width: 40px;
  height: 6px;
  border-radius:4px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 2px;
  overflow: hidden;
  text-indent: -100%;
  background: #fff;
  opacity:0.8;
}